ZYNDRIX_SIMPLE_TEST.json
{
  "name": "ZYNDRIX | SIMPLE_TEST",
  "nodes": [
    {
      "parameters": {
        "path": "zyndrix-test",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json.name || 'Unknown' }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email || '' }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vrvfftftnlspajplqjye.supabase.co/rest/v1/leads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "source",
              "value": "test"
            }
          ]
        },
        "options": {
          "headers": {
            "headers": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_KEY }}"
              }
            ]
          }
        }
      },
      "id": "3",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    }
  ],
  "connections": {
    "Webhook Test": {
      "main": [[{ "node": "Normalize Data", "type": "main", "index": 0 }]]
    },
    "Normalize Data": {
      "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]]
    }
  }
}
