automation/enrichment_scoring_workflow.json
{
  "name": "ZYNDRIX - Enrichment & Scoring",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": "prospects",
        "event": "rowCreated"
      },
      "name": "New Prospect Trigger",
      "type": "n8n-nodes-base.supabaseTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "={{$json.website}}",
        "options": {}
      },
      "name": "HTTP Scraping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20240620",
        "prompt": "={{$node[\"AI Analyst Prompt\"].json.content}}",
        "jsonMode": true
      },
      "name": "Claude Scoring",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.lead_score}}",
              "operation": "largerEqual",
              "value2": 7
            }
          ]
        }
      },
      "name": "Is High Quality?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "prospects",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_score": "={{$json.lead_score}}",
            "priority": "={{$json.priority}}",
            "reasoning": "={{$json.reasoning}}",
            "status": "Enriched"
          }
        },
        "filters": {
          "id": "={{$node[\"New Prospect Trigger\"].json.id}}"
        }
      },
      "name": "Update Prospect",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1000, 450]
    }
  ],
  "connections": {
    "New Prospect Trigger": {
      "main": [[{ "node": "HTTP Scraping", "type": "main", "index": 0 }]]
    },
    "HTTP Scraping": {
      "main": [[{ "node": "Claude Scoring", "type": "main", "index": 0 }]]
    },
    "Claude Scoring": {
      "main": [[{ "node": "Is High Quality?", "type": "main", "index": 0 }]]
    },
    "Is High Quality?": {
      "main": [
        [{ "node": "Update Prospect", "type": "main", "index": 0 }],
        [{ "node": "Update Prospect", "type": "main", "index": 0 }]
      ]
    }
  }
}
