automation/whatsapp_agent_v1.json
{
  "name": "Zyndrix - WhatsApp AI Agent [Agency OS v1]",
  "nodes": [
    {
      "parameters": {
        "path": "wa-agent-zyndrix",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000001",
      "name": "\uD83D\uDCE9 WA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "zyndrix-wa-agent-v1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "f1", "name": "event",        "value": "={{ $json.event }}",                                    "type": "string"},
            {"id": "f2", "name": "fromMe",        "value": "={{ $json.data.key.fromMe }}",                         "type": "boolean"},
            {"id": "f3", "name": "phoneRaw",      "value": "={{ $json.data.key.remoteJid }}",                      "type": "string"},
            {"id": "f4", "name": "phoneNumber",   "value": "={{ $json.data.key.remoteJid.split('@')[0] }}",         "type": "string"},
            {"id": "f5", "name": "senderName",    "value": "={{ $json.data.pushName || 'Cliente' }}",              "type": "string"},
            {"id": "f6", "name": "messageType",   "value": "={{ $json.data.messageType }}",                        "type": "string"},
            {"id": "f7", "name": "instanceName",  "value": "={{ $json.instance }}",                                "type": "string"},
            {"id": "f8", "name": "messageId",     "value": "={{ $json.data.key.id }}",                             "type": "string"},
            {"id": "f9", "name": "rawData",       "value": "={{ $json.data }}",                                    "type": "object"}
          ]
        },
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000002",
      "name": "\uD83D\uDD27 Parse Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": "",
              "operator": {"type": "boolean", "operation": "false"}
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.event }}",
              "rightValue": "messages.upsert",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000003",
      "name": "\uD83D\uDEE1\uFE0F Filter Incoming",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
                "conditions": [{"id": "r1", "leftValue": "={{ $json.messageType }}", "rightValue": "conversation", "operator": {"type": "string", "operation": "equals"}}]
              },
              "output": 0,
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
                "conditions": [{"id": "r2", "leftValue": "={{ $json.messageType }}", "rightValue": "extendedTextMessage", "operator": {"type": "string", "operation": "equals"}}]
              },
              "output": 1,
              "renameOutput": true,
              "outputKey": "ExtendedText"
            }
          ],
          "fallbackOutput": 2
        },
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000004",
      "name": "\uD83D\uDD00 Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [860, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "userMessage",
              "value": "={{ $json.rawData.message?.conversation || $json.rawData.message?.extendedTextMessage?.text || '' }}",
              "type": "string"
            },
            {"id": "e2", "name": "sessionId",     "value": "={{ $json.phoneNumber }}_zyndrix_v1",  "type": "string"},
            {"id": "e3", "name": "phoneNumber",   "value": "={{ $json.phoneNumber }}",             "type": "string"},
            {"id": "e4", "name": "phoneRaw",      "value": "={{ $json.phoneRaw }}",                "type": "string"},
            {"id": "e5", "name": "senderName",    "value": "={{ $json.senderName }}",              "type": "string"},
            {"id": "e6", "name": "instanceName",  "value": "={{ $json.instanceName }}",            "type": "string"},
            {"id": "e7", "name": "messageId",     "value": "={{ $json.messageId }}",               "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000005",
      "name": "\uD83D\uDCDD Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1080, 180]
    },
    {
      "parameters": {},
      "id": "a0000001-0000-0000-0000-000000000006",
      "name": "\uD83D\uDEAB Ignore Type",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1080, 480]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "=Eres Zyn, el asistente de IA profesional de Zyndrix Agency.\n\nSiempre respondes en el idioma del usuario.\nEres amable, eficiente y orientado a resultados.\n\nCapacidades disponibles:\n- Gestionar citas y eventos en Google Calendar\n- Enviar correos electr\u00F3nicos via Gmail\n- Responder preguntas sobre servicios de automatizaci\u00F3n e IA\n\nREGLAS CR\u00CDTICAS (sigue siempre):\n1. SIEMPRE pide confirmaci\u00F3n antes de crear eventos o enviar emails\n2. Si faltan datos para una cita (fecha, hora, descripci\u00F3n), pr\u00E9gunta uno a uno\n3. S\u00E9 conciso pero completo. M\u00E1ximo 3-4 oraciones por respuesta\n4. No inventes informaci\u00F3n que no tengas\n5. Usa emojis moderadamente para hacer la conversaci\u00F3n m\u00E1s amigable\n6. Si el usuario da su nombre, rec\u00FAerdalo en la conversaci\u00F3n\n\nCONTEXTO ACTUAL:\n- Usuario: {{ $json.senderName }}\n- Tel\u00E9fono: {{ $json.phoneNumber }}\n- Fecha\/Hora: {{ $now.format('dddd, D MMMM YYYY HH:mm') }} (Espa\u00F1a)\n- Canal: WhatsApp via Zyndrix Agency",
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "id": "a0000001-0000-0000-0000-000000000007",
      "name": "\uD83E\uDD16 Zyn AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1300, 180]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3,
          "maxTokens": 800,
          "frequencyPenalty": 0.1
        }
      },
      "id": "a0000001-0000-0000-0000-000000000008",
      "name": "\uD83E\uDDE0 GPT-4o Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1120, 400],
      "credentials": {
        "openAiApi": {"id": "YOUR_OPENAI_CRED_ID", "name": "OpenAI API"}
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('\\uD83D\\uDCDD Extract Message').item.json.sessionId }}",
        "sessionTTL": 1440,
        "tableName": "n8n_zyndrix_memory"
      },
      "id": "a0000001-0000-0000-0000-000000000009",
      "name": "\uD83D\uDDC4\uFE0F Postgres Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [1280, 400],
      "credentials": {
        "postgres": {"id": "YOUR_POSTGRES_CRED_ID", "name": "PostgreSQL"}
      }
    },
    {
      "parameters": {
        "toolDescription": "Gestiona eventos de Google Calendar. Usa para: crear citas, ver disponibilidad, listar eventos pr\u00F3ximos. SIEMPRE pide confirmaci\u00F3n al usuario antes de crear cualquier evento."
      },
      "id": "a0000001-0000-0000-0000-000000000010",
      "name": "\uD83D\uDCC5 Calendar Tool",
      "type": "@n8n/n8n-nodes-langchain.toolGoogleCalendar",
      "typeVersion": 1,
      "position": [1440, 400],
      "credentials": {
        "googleCalendarOAuth2Api": {"id": "YOUR_GCAL_CRED_ID", "name": "Google Calendar OAuth2"}
      }
    },
    {
      "parameters": {
        "toolDescription": "Env\u00EDa correos electr\u00F3nicos via Gmail. SIEMPRE confirma destinatario, asunto y contenido del email antes de enviar. No enviar sin confirmaci\u00F3n expl\u00EDcita del usuario."
      },
      "id": "a0000001-0000-0000-0000-000000000011",
      "name": "\uD83D\uDCE7 Gmail Tool",
      "type": "@n8n/n8n-nodes-langchain.toolGmail",
      "typeVersion": 1,
      "position": [1600, 400],
      "credentials": {
        "gmailOAuth2": {"id": "YOUR_GMAIL_CRED_ID", "name": "Gmail OAuth2"}
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "r1", "name": "responseText",  "value": "={{ $json.output }}",                                                        "type": "string"},
            {"id": "r2", "name": "phoneNumber",   "value": "={{ $('\\uD83D\\uDCDD Extract Message').item.json.phoneNumber }}",           "type": "string"},
            {"id": "r3", "name": "phoneRaw",      "value": "={{ $('\\uD83D\\uDCDD Extract Message').item.json.phoneRaw }}",              "type": "string"},
            {"id": "r4", "name": "instanceName",  "value": "={{ $('\\uD83D\\uDCDD Extract Message').item.json.instanceName }}",          "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000012",
      "name": "\u2705 Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1520, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey",       "value": "={{ $env.EVOLUTION_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phoneNumber }}\",\n  \"text\": {{ JSON.stringify($json.responseText) }},\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  }\n}",
        "options": {"timeout": 15000}
      },
      "id": "a0000001-0000-0000-0000-000000000013",
      "name": "\uD83D\uDCE4 Send WA Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {"responseCode": 200}
      },
      "id": "a0000001-0000-0000-0000-000000000014",
      "name": "\u2714\uFE0F Webhook 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1960, 180]
    },
    {
      "parameters": {},
      "id": "a0000001-0000-0000-0000-000000000015",
      "name": "\u26A0\uFE0F Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_DEFAULT_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $env.ADMIN_PHONE }}\",\n  \"text\": \"\u26A0\uFE0F *ERROR \u2014 Zyndrix AI Agent*\\n\\nWorkflow: {{ $json.workflow.name }}\\nNodo: {{ $json.node.name }}\\nError: {{ $json.error.message }}\\nTimestamp: {{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "a0000001-0000-0000-0000-000000000016",
      "name": "\uD83D\uDEA8 Alert Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 600]
    }
  ],
  "connections": {
    "\uD83D\uDCE9 WA Webhook": {
      "main": [[{"node": "\uD83D\uDD27 Parse Payload", "type": "main", "index": 0}]]
    },
    "\uD83D\uDD27 Parse Payload": {
      "main": [[{"node": "\uD83D\uDEE1\uFE0F Filter Incoming", "type": "main", "index": 0}]]
    },
    "\uD83D\uDEE1\uFE0F Filter Incoming": {
      "main": [
        [{"node": "\uD83D\uDD00 Message Type", "type": "main", "index": 0}],
        []
      ]
    },
    "\uD83D\uDD00 Message Type": {
      "main": [
        [{"node": "\uD83D\uDCDD Extract Message", "type": "main", "index": 0}],
        [{"node": "\uD83D\uDCDD Extract Message", "type": "main", "index": 0}],
        [{"node": "\uD83D\uDEAB Ignore Type",    "type": "main", "index": 0}]
      ]
    },
    "\uD83D\uDCDD Extract Message": {
      "main": [[{"node": "\uD83E\uDD16 Zyn AI Agent", "type": "main", "index": 0}]]
    },
    "\uD83E\uDD16 Zyn AI Agent": {
      "main": [[{"node": "\u2705 Prepare Response", "type": "main", "index": 0}]]
    },
    "\u2705 Prepare Response": {
      "main": [[{"node": "\uD83D\uDCE4 Send WA Message", "type": "main", "index": 0}]]
    },
    "\uD83D\uDCE4 Send WA Message": {
      "main": [[{"node": "\u2714\uFE0F Webhook 200 OK", "type": "main", "index": 0}]]
    },
    "\uD83E\uDDE0 GPT-4o Model": {
      "ai_languageModel": [[{"node": "\uD83E\uDD16 Zyn AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "\uD83D\uDDC4\uFE0F Postgres Memory": {
      "ai_memory": [[{"node": "\uD83E\uDD16 Zyn AI Agent", "type": "ai_memory", "index": 0}]]
    },
    "\uD83D\uDCC5 Calendar Tool": {
      "ai_tool": [[{"node": "\uD83E\uDD16 Zyn AI Agent", "type": "ai_tool", "index": 0}]]
    },
    "\uD83D\uDCE7 Gmail Tool": {
      "ai_tool": [[{"node": "\uD83E\uDD16 Zyn AI Agent", "type": "ai_tool", "index": 1}]]
    },
    "\u26A0\uFE0F Error Trigger": {
      "main": [[{"node": "\uD83D\uDEA8 Alert Admin", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}